body, html {
  margin: 0;
  padding: 0;
  background-color: #1a1c1a; 
  color: #B8BFC6;           
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px; 
  align-items: center; 
}

.navbar {
  padding: 80px 20px 40px 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 100%;
}

.nav-title {
  text-align: center;
  margin-bottom: 30px;
}

.nav-title h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #FFFFFF;
  margin: 0;
  letter-spacing: -2px;
}

.nav-tagline {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  color: #B8BFC6;
}

.text-people { 
  color: #e18c2c; 
}
.text-planet { 
  color: #8da38d; 
}

.nav-links-list {
  display: flex;
  justify-content: center; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px; 
}

.nav-item {
  cursor: pointer;
  padding: 12px 28px;
  color: #B8BFC6;
  font-weight: 800;
  border-radius: 100px;
  border: 3px solid #2a2c2a;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-item:hover {
  color: #FFFFFF;
  border-color: #8da38d;
  transform: scale(1.1);
}
