body, html {
  margin: 0;
  padding: 0;
  background-color: #1a1c1a; 
  color: #B8BFC6;           
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px; 
  align-items: center; 
}

.navbar {
  padding: 80px 20px 40px 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 100%;
}

.nav-title {
  text-align: center;
  margin-bottom: 30px;
}

.nav-title h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #FFFFFF;
  margin: 0;
  letter-spacing: -2px;
}

.nav-tagline {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
  color: #B8BFC6;
}

.text-people { 
  color: #e18c2c; 
}
.text-planet { 
  color: #75b675; 
}

.nav-links-list {
  display: flex;
  justify-content: center; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px; 
}

.nav-item {
  cursor: pointer;
  padding: 12px 28px;
  font-size: 1.2rem;
  color: #B8BFC6;
  font-weight: 800;
  border-radius: 100px;
  border: 3px solid #2a2c2a;
}

.nav-item:hover {
  color: #FFFFFF;
  border-color: #8da38d;
  transform: scale(1.1);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.gallery-item {
  text-decoration: none;
  background: #2a2c2a;
  border: 3px solid #333;
  border-radius: 24px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.gallery-item:hover {
  transition: background-color 0.3s ease;
  background-color: #2f322f;

}

.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #1a1c1a;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.gallery-item:hover img {
  opacity: 1;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 20px 30px;
  text-align: center;
}

.desc h3 {
  margin: 0 0 10px 0;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
}

.desc p {
  margin: 0;
  color: #8da38d;
  font-weight: 600;
  font-size: 1.1rem;
}


@media (max-width: 900px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

footer{
  margin: 30px;
}